<div id="footer" class="navbar navbar-default navbar-footer">
  <div class="container-fluid">
    <div class="container">
      <ul class="nav navbar-nav">
      <li><a href="https://share.hsforms.com/1pQ8pPB70TuG37sVjr-KtXA336z0">Give us feedback</a></li>
      <li><a href="https://github.com/AlexsLemonade/refinebio-examples">GitHub</a></li>
      <li><a href="https://www.refine.bio">refine.bio</a></li>
    </ul>
    </div>
  </div>
</div>
<script>
   // move footer to end of document
   $(document).ready(function () {
     $("#footer").remove().appendTo('body')
   })
</script>
