<div id="footer" class="navbar navbar-default navbar-footer">
  <div class="container-fluid">
    <div class="container">
      <div class="col-md-6">
        <p class="footer-text">
          refine.bio is a repository of uniformly processed and normalized, ready-to-use transcriptome data from publicly available sources. refine.bio is a project of the
          <a href="https://www.ccdatalab.org/" target="_blank" rel="noopener noreferrer">Childhood Cancer Data Lab (CCDL)</a>
        </p>
      </div>
      <div class="col-md-6">
        <ul class="nav navbar-nav">
          <li>
            <a href="https://share.hsforms.com/1pQ8pPB70TuG37sVjr-KtXA336z0" class="button">Give us feedback</a>
          </li>
          <li>
            <a href="https://github.com/AlexsLemonade/refinebio-examples" class="button">GitHub</a>
          </li>
          <li>
            <a href="https://www.refine.bio" class="button">refine.bio</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
   // move footer to end of document
   $(document).ready(function () {
     $("#footer").remove().appendTo('body')
   })
</script>
