<footer class="footer">
  <div class="container">
    <div class="col-xs-12 col-sm-4 col-md-3"></div>
    <div class="footer-content col-xs-12 col-sm-8 col-md-9">
      <p>
        refine.bio is a repository of uniformly processed and normalized, ready-to-use transcriptome data from publicly available sources. refine.bio is a project of the
        <a class="link" href="https://www.ccdatalab.org/" target="_blank" rel="noopener noreferrer">Childhood Cancer Data Lab (CCDL)</a>
      </p>
      <a href="https://share.hsforms.com/1pQ8pPB70TuG37sVjr-KtXA336z0" class="button">Give us feedback</a>
      <a href="https://github.com/AlexsLemonade/refinebio-examples" class="button">GitHub</a>
      <a href="https://www.refine.bio" class="button">refine.bio</a>
    </div>
  </div>
</footer>
