p {
  color: blue;
  font-family: Lato,sans-serif;
}

h1 {
  color: blue;
  font-family: Lato,sans-serif;
}

h2 {
  color: blue;
  font-family: Lato,sans-serif;
}

h3 {
  color: blue;
  font-family: Lato,sans-serif;
}

h4 {
  color: blue;
  font-family: Lato,sans-serif;
}
