html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 1.625rem;
}
h2 {
  font-size: 1.375rem;
}
h3 {
  font-size: 1.25rem
}
h4 {
  font-size: 1.125rem;
}
h5, h6 {
  font-size: 1rem
}
p {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #386db0;
  line-height: 1;
}

.container-nav {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1096px;
}

@media screen and (min-width: 768px) and (max-width: 993px ) {
  .nav > li > a {
  }
}

nav .navbar-brand {
  padding: 10px 15px;
  width: 160px;
  height: auto;
}

nav .navbar-brand img {
  width: 100%;
}

.navbar-footer {
  padding-top: 10px;
  margin-bottom: 0;
}

p.footer-text {
  font-size: .9rem;
  color: #fdfdfd
}


@media screen and (min-width: 768px) {
  p.footer-text {
   padding: 0 15px;
  }
}

p.footer-text a {
  color: #fdfdfd;
  weight: bold;
}

.navbar-default, .navbar-nav, .navbar-inverse{
  font-size: 1rem;
  max-width: 100%;
  background-color: #386db0 !important;
  color: #FDFDFD !important;
}

.navbar-nav>li>a {
  font-size: 1rem;
  background-color: #386db0 !important;
  color: #FDFDFD !important;
}

ul.dropdown-menu {
  background-color: #FDFDFD !important;
  color: #000000 !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:active {
  background-color: #386db0 !important;
  color: #FDFDFD !important;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #386db0 !important;
  color: #FDFDFD !important;
}
